<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <h4 class="mt-1 mb-5 pb-1">Big KG-OLAP Lakehouse</h4>
                </div>

                <form>
                  <div class="form-outline mb-4">
                    <input [(ngModel)]="un" type="email" id="form2Example11" class="form-control" placeholder="Username"
                           [ngModelOptions]="{standalone: true}"/>
                  </div>

                  <div class="form-outline mb-4">
                    <input [(ngModel)]="pw" type="password" id="form2Example22" class="form-control" placeholder="Password"
                           [ngModelOptions]="{standalone: true}"/>
                  </div>


                  <div *ngIf="showLoginError" class="text-center color-red pb-1">
                    Login failed! (Wrong credentials or no server connection)
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button"
                    (click)="login()">Log in</button>
                  </div>


                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">A cloud-native solution to store and retrieve big contextualized knowledge graphs</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
